
.wrapper{
  display: flex;
  justify-content: center;

}
.container{
  width: 100%;
  padding: 50px;
}

.inputs{
  width:inherit;
  display: flex;
  justify-content: space-between;
}
.search{
  all: unset;
  padding: 5px 0px;
  
}
tbody h1{
  width: 400%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
td,th{
  width: 25%;
}

.title, .search-input{
  display: flex;
  align-items: center;
  gap: 5px;
}

.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #dac0ff;
	font-size: 14px;
}
.table tbody tr:hover td{
  background-color: #fbdaff;
}

.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table tbody tr:nth-child(even){
  background: #f8f2fe;
}

.table tbody tr:nth-child(odd){
  background: hsl(0, 0%, 100%);
}

.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
